---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_158VAAJGSn3Q2fvTJoNVaWfC&description=Sign%20up%20charge%20for%20sean%40gmail.com
    headers:
      Authorization:
      - Bearer sk_test_HAFzIf1LDsCFX8aRN5Y1sSjq
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_158VABJGSn3Q2fvT1aW7yr5Z",
          "object": "charge",
          "created": 1418297479,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_158VABJGSn3Q2fvT1aW7yr5Z/refunds",
            "data": []
          },
          "card": {
            "id": "card_158VAAJGSn3Q2fvTzrOAPiaO",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2015,
            "fingerprint": "rNhPRcdSCrZC1EIl",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          },
          "balance_transaction": "txn_158VABJGSn3Q2fvTMtXsKd7i",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Sign up charge for sean@gmail.com",
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null
        }
  recorded_at: Thu, 11 Dec 2014 11:32:58 GMT
recorded_with: VCR 2.9.3
