---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15FGxdJGSn3Q2fvTLNCMPbMH&email=sean%40gmail.com&plan=basicplanid
    headers:
      Authorization:
      - Bearer sk_test_HAFzIf1LDsCFX8aRN5Y1sSjq
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1419911182,
          "id": "cus_5Q7Ca2btVc9cfH",
          "livemode": false,
          "description": null,
          "email": "sean@gmail.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5Q7Ca2btVc9cfH/subscriptions",
            "data": [
              {
                "id": "sub_5Q7CbOs7uIyASq",
                "plan": {
                  "interval": "month",
                  "name": "basicplan",
                  "created": 1419367762,
                  "amount": 999,
                  "currency": "usd",
                  "id": "basicplanid",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null,
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1419911182,
                "status": "active",
                "customer": "cus_5Q7Ca2btVc9cfH",
                "cancel_at_period_end": false,
                "current_period_start": 1419911182,
                "current_period_end": 1422589582,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5Q7Ca2btVc9cfH/cards",
            "data": [
              {
                "id": "card_15FGxdJGSn3Q2fvTBoqJfZQW",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 7,
                "exp_year": 2015,
                "fingerprint": "rNhPRcdSCrZC1EIl",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5Q7Ca2btVc9cfH"
              }
            ]
          },
          "default_card": "card_15FGxdJGSn3Q2fvTBoqJfZQW"
        }
  recorded_at: Tue, 30 Dec 2014 03:49:48 GMT
recorded_with: VCR 2.9.3
