---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_158sTmJGSn3Q2fvTbxztViBd&description=Sign%20up%20charge%20for%20joe%40example.com
    headers:
      Authorization:
      - Bearer sk_test_HAFzIf1LDsCFX8aRN5Y1sSjq
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "An error occurred while processing your card. Try again in a little bit.",
            "type": "card_error",
            "code": "processing_error",
            "charge": "ch_158sTmJGSn3Q2fvTfuzQii1w"
          }
        }
  recorded_at: Fri, 12 Dec 2014 12:26:51 GMT
recorded_with: VCR 2.9.3
