---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15FGwyJGSn3Q2fvTr1txoxJ9&email=joe%40example.com&plan=basicplanid
    headers:
      Authorization:
      - Bearer sk_test_HAFzIf1LDsCFX8aRN5Y1sSjq
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "An error occurred while processing your card. Try again in a little bit.",
            "type": "card_error",
            "code": "processing_error"
          }
        }
  recorded_at: Tue, 30 Dec 2014 03:49:07 GMT
recorded_with: VCR 2.9.3
