---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15DD5JJGSn3Q2fvTsf7K7pfQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_HAFzIf1LDsCFX8aRN5Y1sSjq
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15DD5JJGSn3Q2fvTsf7K7pfQ",
          "created": 1419419625,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_15DD5IJGSn3Q2fvTbWIDG6CK",
              "object": "charge",
              "created": 1419419624,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "captured": true,
              "card": {
                "id": "card_15DD5IJGSn3Q2fvTa6kqY1o8",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2017,
                "fingerprint": "rNhPRcdSCrZC1EIl",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5Nz385NW0Ks0Gg"
              },
              "balance_transaction": "txn_15DD5IJGSn3Q2fvTXRyMdjGj",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_5Nz385NW0Ks0Gg",
              "invoice": "in_15DD5IJGSn3Q2fvTYESb92ce",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15DD5IJGSn3Q2fvTbWIDG6CK/refunds",
                "data": []
              },
              "statement_description": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_5Nz3t2bq9aE3x7",
          "api_version": "2014-11-20"
        }
  recorded_at: Thu, 25 Dec 2014 11:26:20 GMT
recorded_with: VCR 2.9.3
