---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000119&card[exp_month]=12&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_HAFzIf1LDsCFX8aRN5Y1sSjq
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1591LPJGSn3Q2fvTyQAqXA2k",
          "livemode": false,
          "created": 1418421183,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_1591LPJGSn3Q2fvT50MjCtp0",
            "object": "card",
            "last4": "0119",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2019,
            "fingerprint": "ENuH0rdzx1QxIE6q",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Fri, 12 Dec 2014 21:54:51 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_1591LPJGSn3Q2fvTyQAqXA2k&description=An%20invalid%20charge.
    headers:
      Authorization:
      - Bearer sk_test_HAFzIf1LDsCFX8aRN5Y1sSjq
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "An error occurred while processing your card. Try again in a little bit.",
            "type": "card_error",
            "code": "processing_error",
            "charge": "ch_1591LPJGSn3Q2fvTffIbDLDS"
          }
        }
  recorded_at: Fri, 12 Dec 2014 21:54:51 GMT
recorded_with: VCR 2.9.3
