---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15FXDOJGSn3Q2fvTMge3DUPi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_HAFzIf1LDsCFX8aRN5Y1sSjq
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15FXDOJGSn3Q2fvTMge3DUPi",
          "created": 1419973662,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_15FXDNJGSn3Q2fvTk2sDcUbW",
              "object": "charge",
              "created": 1419973661,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "captured": false,
              "card": {
                "id": "card_15FXCfJGSn3Q2fvTrNDWXbRk",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2017,
                "fingerprint": "SFLzr3JECQVUw4ib",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5Q7Ca2btVc9cfH"
              },
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_5Q7Ca2btVc9cfH",
              "invoice": null,
              "description": "payment",
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15FXDNJGSn3Q2fvTk2sDcUbW/refunds",
                "data": []
              },
              "statement_description": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_5QNzBqtHhYsOnP",
          "api_version": "2014-11-20"
        }
  recorded_at: Tue, 30 Dec 2014 21:30:18 GMT
recorded_with: VCR 2.9.3
