---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_HAFzIf1LDsCFX8aRN5Y1sSjq
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15D4FWJGSn3Q2fvTUSyb1uIo",
          "livemode": false,
          "created": 1419385662,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15D4FWJGSn3Q2fvTOMXyFhhK",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2019,
            "fingerprint": "rNhPRcdSCrZC1EIl",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Wed, 24 Dec 2014 01:50:33 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15D4FWJGSn3Q2fvTUSyb1uIo&email=colton%40kuhnmills.biz&plan=basicplanid
    headers:
      Authorization:
      - Bearer sk_test_HAFzIf1LDsCFX8aRN5Y1sSjq
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1419385662,
          "id": "cus_5Npv9NizmTt2se",
          "livemode": false,
          "description": null,
          "email": "colton@kuhnmills.biz",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5Npv9NizmTt2se/subscriptions",
            "data": [
              {
                "id": "sub_5NpvV5ZxyNvDTs",
                "plan": {
                  "interval": "month",
                  "name": "basicplan",
                  "created": 1419367762,
                  "amount": 999,
                  "currency": "usd",
                  "id": "basicplanid",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null,
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1419385662,
                "status": "active",
                "customer": "cus_5Npv9NizmTt2se",
                "cancel_at_period_end": false,
                "current_period_start": 1419385662,
                "current_period_end": 1422064062,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5Npv9NizmTt2se/cards",
            "data": [
              {
                "id": "card_15D4FWJGSn3Q2fvTOMXyFhhK",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2019,
                "fingerprint": "rNhPRcdSCrZC1EIl",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5Npv9NizmTt2se"
              }
            ]
          },
          "default_card": "card_15D4FWJGSn3Q2fvTOMXyFhhK"
        }
  recorded_at: Wed, 24 Dec 2014 01:50:33 GMT
recorded_with: VCR 2.9.3
